---
import Layout from "../layouts/Layout.astro";
import StoreProducts from "../components/StoreProducts.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout>
    <main>
        <SectionContainer>
            <StoreProducts />
        </SectionContainer>
    </main>
</Layout>
