---
const { Icon, className, title, text } = Astro.props;
---

<div
    class="flex items-center flex-col gap-2 text-center pt-8 pb-4 px-8 flex-1 bg-cyan-100 rounded-xl"
>
    <Icon class={`size-24 text-blue-500 mb-auto{...Astro.props}`} />
    <div>
        <h2 class={`${className} text-2xl`}>{title}</h2>
        <p>{text}</p>
    </div>
</div>
