---
import BabyIcon from "../assets/icons/Baby.astro";
import SearchBox from "./SearchBox.astro";
---

<header class="flex justify-between px-4 py-2 max-w-7xl mx-auto">
    <a href="#" class="flex items-center gap-2">
        <BabyIcon class="size-16" />
        Raimbow <br />Rattles
    </a>

    <nav class="flex items-center gap-8 group">
        <a href="#">Principal</a>
        <a href="#">Tienda</a>
        <a href="#">Blog</a>
        <a href="#">Contacto</a>
    </nav>
    <SearchBox />
</header>

<style>
    nav > a {
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        transition: all ease-in-out 0.3s;
    }

    nav > a:hover {
        border-bottom: 1px solid #2d2d2d;
        border-top: 1px solid #2d2d2d;
    }
</style>
