---
const { class: className = "" } = Astro.props;
---

<a
    href="/store"
    class={`${className} bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4
    focus:ring-yellow-300 font-medium rounded-full text-up py-3 px-6 text-center
     dark:focus:ring-yellow-900 cursor-pointer w-max transition`}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
>
    <slot />
</a>
