<div class="flex justify-center items-center flex-col text-center">
    <p class="max-w-[50%]">
        Consigue un 15% de descuento en tu primera compra. Además, ¡sé el
        primero en enterarte de las rebajas, los lanzamientos de nuevos
        productos y las ofertas exclusivas!
    </p>
    <div class="mt-4 flex gap-2">
        <input
            type="email"
            placeholder="Introduce tu email..."
            class="flex items-center border-2 border-gray-300 rounded-lg py-2 px-4 outline-none"
        />
        <button
            type="button"
            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >Unirse</button
        >
    </div>
</div>
