---
import "../styles/global.css";
import Header from "../components/Header.astro";
import "@fontsource-variable/outfit";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mi Landing Page</title>
	</head>
	<body>
		<Header />

		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	body {
		color-scheme: dark light;
		background-color: #f2f2f2;
	}
</style>
